@charset "utf-8";
@import 'https://wf.cdn.gmru.net/static/general/fonts/Quantico/font.css';
@import 'https://wf.cdn.gmru.net/static/general/fonts/Plumb/font.css';
@import 'https://wf.cdn.gmru.net/static/wf.mail.ru/img/main/page/icons/wf_icons2/font.css';
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 47px 0 0;
  background: #6a30a8;
  color: #fff;
  font: 16px/20px Plumb, Arial, Helvetica, sans-serif;
}
main {
  width: 100%;
  min-width: 944px;
  position: relative;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  background: #061217 url("http://ramki-vsem.ru/fony/fioletovyj-fon26.jpg") center top no-repeat;
}
.content {
  max-width: 944px;
  width: 100%;
  height: inherit;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
/*------------------header-------------------*/
header {
  font-size: 16px;
  height: 47px;
  width: 100%;
  min-width: 944px;
  background-color: #000000;
  opacity: 0.8;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 50;
}
.header__controls {
  height: 47px;
  color: #fff;
  line-height: 47px;
  text-transform: uppercase;
  font-size: 12px;
}
.header__left {
  float: left;
}
.header__right {
  float: right;
}
.auth {
  display: inline-block;
  position: relative;
  padding-right: 20px;
}
.auth__link {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
  display: inline-block;
}
.auth__link:hover {
  text-decoration: underline;
}
.auth__separator {
  padding-left: 10px;
  display: inline-block;
}
.auth__menu {
  cursor: pointer;
  position: relative;
}
.auth__menu:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(-50%, -15%);
  border: 4px solid transparent;
  border-top-color: #af0376;
  z-index: 1;
}
.auth__menu-list {
  position: absolute;
  top: 100%;
  left: -16px;
  line-height: 32px;
  min-width: 160px;
  box-sizing: border-box;
  text-align: left;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: left top 0;
  transition: transform 300ms ease 0s;
}
.auth__menu:hover .auth__menu-list {
  opacity: 1;
  transform: scaleY(1);
}
.auth__menu:hover:after {
  transform: translate(-50%, -70%);
  border-top-color: transparent;
  border-bottom-color: #af0376;
}
.auth__menu-item {
  background-color: #121415;
  text-transform: uppercase;
  padding: 0 16px;
  width: 100%;
  font-size: 12px;
  display: flex;
  white-space: nowrap;
}
.auth__menu-item:not(:first-child) {
  border-top: 1px solid #2c2f32;
}
.auth__menu .icon_server {
  margin: 0 10px;
}
.auth__menu-current {
  display: flex;
  white-space: nowrap;
  align-items: center;
}
.display-none {
  display: none;
}
.registration {
  background: rgba(4, 8, 12, 0.85);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  overflow: auto;
  z-index: 99; 
  display: none;
}
.registration * {
  box-sizing: border-box;
}
.registration p {
  margin: 0;
}
.registration a {
    color: #af0376;
    text-decoration: none;
    outline: none;
}
.registration__close {
    background-image: url(https://78.media.tumblr.com/521ef0e21e63c3875d70a1c86cfa752e/tumblr_inline_nl8j0f1uiw1ry72eo.gif);
    background-position: center center;
    position: absolute;
    left:100%;
    top:0;
    cursor: pointer;
    height: 15px;
    margin-left: 10px;
    width: 15px;
}
.registration__wrap {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 404px;
  box-sizing: border-box;
  background: #191e23;
  font: 15px/20px Plumb;
  color:#a9aeb3;
}
.registration__form {
  width: 304px;
  margin: 5px auto 20px auto;
}

.registration__tabs {
  display: flex;
  justify-content: space-between;
  cursor: default;
  padding: 0 50px;
  margin-bottom: 30px;
  background-color: #1f262c;
}

.registration__tab {
  display: inline-block;
  font: bold 16px Quantico,Arial,Helvetica,sans-serif;
  cursor: pointer;
  padding: 19px 0 17px;
  border-bottom:1px solid transparent;
}
.registration__tab.active {
  color:#af0376;
  border-bottom-color: #af0376;
  cursor: default;
}
.registration__row {
  margin: 0 0 5px;
}
.registration__row .registration__input {
  height: 40px;
  line-height: 40px;
  padding: 0 7px;
  width: 100%;
  border: 1px solid #5e6468;
  background: #191e23;
  color:#fff;
  font: 15px Plumb;
}
input::-webkit-input-placeholder {color:#5e6468;font-size: 18px;}
input:-moz-placeholder {color:#5e6468;font-size: 18px;}

.registration__submit__block {
  position: relative;
  min-height: 46px;
}
.registration__submit {
  border: 1px solid #af0376;
  color:#af0376;
  text-align: center;
  background: #191e23;
  font: 17px/42px Quantico,Arial,Helvetica,sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  outline: none;
}
.registration__submit__block .registration__submit {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.registration__loader {
  position: absolute;
  right: -40px;
  top: 7px;
}
.registration_notes {
  background: none;
  border:0px;
  min-height: 10px;
  margin: 3px 0 10px;
  font-size: 14px;
  text-align: left;
  transition: height .2s;
}

.buttons_or {
  position: relative;
  text-align: center;
  margin: 0 0 15px;
}
.buttons_or:before {
  content: '';
  position: absolute;
  top:50%;
  left:0;
  right:0;
  height: 0;
  font-size:0;
  border-top:1px solid #40464c;
}
.buttons_or span {
  display: inline-block;
  padding: 0 10px;
  background: #191e23;
  position: relative;
}
.registration__new-mail {
  text-align: right;
  padding: 5px 0 0;
}
.registration__new-mail span{
  color:#af0376;
  cursor: pointer;
}
img.registration__loader {
  display: none;
}
.registration__buttons {
  text-align: center;
  margin-top: 35px;
}

.registration__form .reg_signin {
  color: #af0376;
  cursor: pointer;
}
.registration__form .reg_signin:hover {
  text-decoration: underline;
}
.soc-button {
  display: inline-block;
  width: 50px;
  height: 41px;
  vertical-align: top;
  background: url(https://wf.cdn.gmru.net/static/wf.mail.ru/modules/regform/img/soc.png?1) no-repeat 0 0;
  cursor: pointer;
  margin: 0 20px;
}

.soc-button:hover{
	-webkit-filter: brightness(300%);
      -ms-filter: brightness(300%);
          filter: brightness(300%);
}
.soc-button--vk {
  background-position: -78px 0;
}
.soc-button--ok {
  background-position: -164px 0;
}
.soc-button--rts {
  background-position: -235px 0;
}
.registration__lostpass {
  display: block;
  text-align: right;
  margin: 5px 0 20px;
}
.registration__docs {
  text-align: center;
  background-color: #111518;
  padding: 20px 0;
}
/*------------------content-------------------*/
h1,
h2 {
  margin: 0;
  font: normal 25px/1.4 Quantico;
  text-transform: uppercase;
  color: #fff;
}
h1 a,
h2 a {
  color: #fff;
}
h1 a:hover,
h2 a:hover {
  text-decoration: none;
}
.button {
  font: 18px/64px Quantico;
  background: #72026f;
  color: #fff;
  border: 1px solid #72026f;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 45px;
  display: inline-block;
  cursor: pointer;
}
.button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
}
.border {
  border: 1px solid rgba(80,252,245,0.6);
  border-radius: 3px;
  background: rgba(80,252,245,0.05);
  position: relative;
}
.border_corner:after,
.border_corner:before {
  content: '';
  display: block;
  height: calc(100% + 20px);
  width: calc(100% + 20px);
  left: -12px;
  top: -12px;
  position: absolute;
  border: 2px solid #fc50df;
}
.border_corner:after {
  border-image: repeating-linear-gradient(-45deg, #fc50df 0px, #fc50df 7px, transparent 7px, transparent calc(100% - 5px), #fc50df calc(100% - 5px), #fc50df 100%) 100%;
  border-image-slice: 1;
}
.border_corner:before {
  border-image: repeating-linear-gradient(45deg, #fc50df 0px, #fc50df 7px, transparent 7px, transparent calc(100% - 5px), #fc50df calc(100% - 5px), #fc50df 100%) 100%;
  border-image-slice: 1;
}
section {
  box-sizing: border-box;
}
.logo {
  padding: 55px 0 0;
}
.logo h1 {
  margin: 40px 0;
  font-size: 33px;
  min-height: 46px;
}

.prize__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}
.prize__item {
  width: 314px;
  min-height: 150px;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
}
.prize__item:nth-child(2) {
  margin-right: 15px;
}
.prize__item_big img {
  margin: 20px 0 -50px 45px;
}
.prize__item_big .prize__item-name {
  text-align: right;
}
.prize__item-name {
  font-size: 15px;
  margin-top: 5px;
}
.prize__button {
  width: 310px;
  padding: 0;
}
.task {
  background: rgba(8,10,10,0.75);
  padding: 40px 115px 240px;
  position: relative;
}
.task__vip {
  width: 450px;
  margin: 0 auto 50px;
  box-sizing: border-box;
  padding: 0 20px;
  align-items: center;
  text-align: left;
  display: none;
}
.task__vip .icon-vip {
  font-size: 80px;
  line-height: 56px;
  margin-right: 15px;
}
.task__vip-text {
  font-size: 15px;
}
.task__vip-text p {
  margin: 3px 0;
}
.task__text {
  text-align: left;
  display: none;
  margin: 0px 0 50px;
}
.task__text a {
  color: currentColor;
}
.task__text a:hover {
  text-decoration: none;
}
.task__timer {
  text-transform: uppercase;
  font: 18px/30px Quantico;
  display: none;
  margin-bottom: 50px;
}
.task__timer-count {
  font-size: 25px;
}
.task__info {
  box-sizing: border-box;
  padding: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  color: #919394;
  width: 714px;
  min-height: 350px;
  visibility: hidden;
}
.task__info-column {
  width: 49%;
  z-index: 1;
}
.task__info-title {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}
.task__info p {
  margin: 5px 0 20px;
}
.task__info a {
  color: currentColor;
  cursor: pointer;
}
.task__info a:hover {
  text-decoration: none;
}
.task__info.is-show {
  visibility: visible;
}
.task__message {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -162px;
  width: 280px;
  padding: 20px;
  text-align: left;
  box-sizing: border-box;
  display: none;
}
.task__progress {
  position: relative;
  border-bottom: 5px solid #6c6666;
  margin-bottom: 17px;
}
.task__progress-num {
  text-align: right;
  margin-bottom: 3px;
}
.task__progress-line {
  background: #ff2ab8;
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 5px;
}
.task__slider {
  z-index: 1;
  width: 100%;
  height: 170px;
  overflow: hidden;
  position: relative;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: left;
}
.task__slider .task__info-title {
  margin: 0 0 10px -30px;
}
.task__slider-arr {
  color: #a20d80;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  top: 75px;
  opacity: 0.8;
}
.task__slider-arr:hover {
  opacity: 1;
}
.task__slider-arr_left {
  left: 0;
}
.task__slider-arr_right {
  right: 0;
}
.task__slider .slick-track {
  display: flex;
  min-width: 570px;
}
.task__slide {
  color: #fff;
  font-size: 15px;
  padding: 0 20px;
  min-width: 246px;
  text-align: center;
  display: inline-block;
}
.task__slide:focus {
  outline: none;
}
.task__slide img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.task__slide p {
  margin: 10px 0 0;
}
.task__days {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 97px;
  width: 714px;
}
.task__days:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 17px;
  height: 1px;
  background: linear-gradient(90deg, rgba(80,252,245,0.6) 66%, transparent 0) repeat-x;
  background-size: 6px 2px;
  z-index: 1;
}
.task__days-item {
  position: relative;
  color: #919394;
  font-size: 15px;
  width: 35px;
  z-index: 2;
  cursor: pointer;
}
.task__days-item.is-done:before {
  background-position: 0 -35px;
}
.task__days-item.is-open:before {
  background-position: 0 -70px;
}
.task__days-item.is-disable {
  cursor: default;
}
.task__days-item.is-disable:before {
  background-color: #919394;
  border-color: #919394;
  background-position: -70px 0;
}
.task__days-item.is-select:before {
  background-color: #bd2bab;
  background-position-x: -35px;
}
.task__days-item.is-select:after {
  content: '';
  display: block;
  width: 1px;
  height: 80px;
  background: rgba(80,252,245,0.6);
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  top: -80px;
}
.task__stage {
  cursor: pointer;
  position: absolute;
  right: 115px;
  bottom: 50px;
  text-decoration: underline;
  display: none;
}
.task__stage[data-stage="1"] {
  bottom: 180px;
}
.task__stage:hover {
  text-decoration: none;
}
.sharing {
  background: #291625;
  padding: 40px 160px;
  position: relative;
}
.sharing__img {
  background: rgba(80,252,245,0.05) radial-gradient(circle closest-corner at center 0px, rgba(80,252,245,0.1), transparent 95%);
  margin: 30px auto 50px;
  padding: 30px 0;
  width: 450px;
}
.sharing__soc {
  a: img;
}
.sharing__soc a span {
  display: none;
}
.sharing__soc a.addthis_button_vk {
  background-position: 0 center;
  min-width: 60px;
}
.sharing__soc a.addthis_button_odnoklassniki_ru {
  background-position: -60px center;
  min-width: 25px;
}
.sharing__soc a.addthis_button_facebook {
  background-position: -85px center;
  min-width: 24px;
}
.sharing__soc a:hover {
  filter: brightness(300%);
}
.sharing__auth {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  font: normal 25px/1.4 Quantico;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  padding: 190px 50px;
  display: none;
}
.sharing__auth span {
  text-decoration: underline;
  cursor: pointer;
}
.sharing__auth span:hover {
  text-decoration: none;
}
.timer {
  background: rgba(8,10,10,0.75);
  text-align: center;
  padding: 60px 0;
  text-transform: uppercase;
  font: 18px/30px Quantico;
}
.timer__count {
  font-size: 25px;
}
/*------------------footer-------------------*/
footer {
  background: #000;
  padding: 10px 0;
}
@-moz-keyframes spoke {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes spoke {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes spoke {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes spoke {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
